<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thiti.ict_88510159">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lessonchoose"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.max_aspect"
                android:value="2.1" />
        </activity>

        <activity android:name=".lesson1" />
        <activity android:name=".lesson2" />
        <activity android:name=".lesson3" />
        <activity android:name=".lesson4" />
        <activity android:name=".lesson5" />
        <activity android:name=".lesson6" />
        <activity android:name=".lesson7" />
        <activity android:name=".lesson8" />
        <activity android:name=".lesson9" />
        <activity android:name=".lesson10" />
        <activity android:name=".lesson11" />
        <activity android:name=".StartingScreenActivity" />
        <activity android:name=".QuizActivity"></activity>
    </application>

</manifest>